.navbar-style{
  background-color: rgb(120, 87, 45);
}
.logo-img-style{
  height: 50px;
  width: 50px;
}
.logo-text-style{
  margin: -21px 0px 0px 50px;
}
*{
  font-family:Georgia, 'Times New Roman', Times, serif
}
main{
  min-height: 82vh;
}
footer{
  background-color: rgb(120, 87, 45);
  padding: 10px;
}